@import url('../fonts/fonts.css');


/**
 * Common elements
 */

* { 
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-attachment: fixed;
    background-image: url('../img/fotos/fundo.jpg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "FuturaLTBook", Arial, sans-serif;
    font-size: medium;
    line-height: 1.4;
    text-align: center;
}

a {
    color: #b1bf92;
    text-decoration: none;
}

h1 {
    font-family: "EdwardianScrAltITCTT", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 6em;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.7em;
    padding-bottom: 15px;
}

h2.center { text-align: center;}

h3 {
    font-size: 1.5em;
    padding-bottom: 8px;
    padding-top: 5px;
}

p {
    font-size: 1.4em;
    padding-bottom: 8px;
}

hr {
    border-bottom:#808080 solid 1px;
    border-top:#1e1e1e solid 1px;
    margin: 60px auto 60px auto;
    width: 90%;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

#content {
    padding-top: 200px;
    padding-bottom: 300px;
}

/**
 * Title bar
 */

.titlebar {
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px 0 10px 0;
}

.titlebar .bride-name {
    font-family: 'EdwardianScrAltITCTT';
    font-size: 11em;
    line-height: 100%;
}

.titlebar .groom-name {
    font-family: 'FuturaLTBook';
    font-size: 5em;
    line-height: 100%;
}

.titlebar .wedding-date {
    font-family: 'FuturaLTBook';
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 15px;
}

/**
 * Menu
 */

.menu {
    background-color: #333;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: white;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
}

.menu ul li a:hover {
    background: #b1bf92;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.menu ul li a.active {
    background: #b1bf92;
    color: #fff;
    outline: none;
    text-decoration: none;
}

/**
 * Topic container
 */

.topic-wrapper {
    margin: auto;
    padding-top: 100px;
    width: 80%;
}

.topic-wrapper section {
    background-color: black;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 40px 40px 70px 40px;
    text-align: left;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/**
 * Wizard form
 */

.wizard-form input {
    vertical-align: middle;
}

.wizard-form input[type='text'] {
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin: 8px 0;
    padding: 12px 20px;
    text-align: center;
    width: 100%;
}

.wizard-form input[type='radio'] {
    float: left;
    margin: 3px 6px;
}

.wizard-form button {
    background-color: white;
    border-radius: 8px;
    border: none;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    width: 100%;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.wizard-form button:hover {
    background-color: #b1bf92;
    color: white;
}

/**
 * Alerts
 */

.alert-error {
    background-color: red;
    color: white;
    margin-bottom: 15px;
    padding: 7px;
}

.alert-success {
    background-color: green;
    color: white;
    margin-bottom: 15px;
    padding: 7px;
}

.alert-closebtn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 15px;
    transition: 0.3s;
}

/**
 * Tooltips
 */

.tooltip {
    border-bottom: 1px dotted white;
    display: inline-block;
    position: relative;
}

.tooltip .tooltiptext {
    background-color: #555;
    border-radius: 5px;
    bottom: 125%;
    left: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: opacity 1s;
    visibility: hidden;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

/**
 * Misc
 */

img.thumbnail {
    background-color: black;
    border: 4px solid #090909;
    float: left;
    height: 120px;
    margin-bottom: 0;
    margin-right: 10px;
    width: auto;

    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

img.large-image {
    border: 10px solid #090909;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 50%;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

img.location-image {
    border: 10px solid #090909;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.credits {
    font-size: 0.5em;
}

/**
 * Grid (obtained from https://github.com/dhg/Skeleton)
 */

.container {
  margin: auto;
  padding: 0 20px;
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.column,
.columns {
    width: 100%;
    float: left;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column                     { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
}

/**
 * Media queries
 */

/* Desktop */
@media (max-width: 1000px) {
    h1 {
        font-size: 4.8em;
    }

    .titlebar .bride-name {
        font-size: 8.8em;
    }

    .titlebar .groom-name {
        font-size: 4em;
    }

    .titlebar .wedding-date {
        font-size: 2.5em;
    }
}

/* Tablet */
/* Hide the menu if running on a device with screen smaller than its width */
/* @media (max-width: 900px) {
    nav {
        display: none
    }
} */

/* Phablet */
@media (max-width: 600px) {
    body {
        background-image: url('../img/fotos/fundo.jpg');
        background-size: 140%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.9em;
        padding-bottom: 6px;
    }

    p {
        font-size: 0.8em;
        padding-bottom: 6px;
    }

    .titlebar .bride-name {
        font-size: 4em;
    }

    .titlebar .groom-name {
        font-size: 2em;
    }

    .titlebar .wedding-date {
        font-size: 1.5em;
    }

    .topic-wrapper {
        width: 90%;
    }

    .topic-wrapper section {
        padding: 10px 10px 30px 10px;
    }

    img.large-image {
        max-width: 75%;
    }

    #gmap iframe {
        border: 0;
        width: 220px;
    }
}

/* Phone */
@media (max-width: 400px) {
    body {
        background-size: 360%;
    }
}

.image-gallery-icon {
	color: #fff;
	transition: all .3s ease-out;
	appearance: none;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	position: absolute;
	z-index: 4;
	filter: drop-shadow(0 2px 2px #1a1a1a)
}

@media(hover: hover)and (pointer: fine) {
	.image-gallery-icon:hover {
		color: #337ab7
	}

	.image-gallery-icon:hover .image-gallery-svg {
		transform: scale(1.1)
	}
}

.image-gallery-icon:focus {
	outline: 2px solid #337ab7
}

.image-gallery-using-mouse .image-gallery-icon:focus {
	outline: none
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
	bottom: 0;
	padding: 20px
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
	height: 28px;
	width: 28px
}

@media(max-width: 768px) {

	.image-gallery-fullscreen-button,
	.image-gallery-play-button {
		padding: 15px
	}

	.image-gallery-fullscreen-button .image-gallery-svg,
	.image-gallery-play-button .image-gallery-svg {
		height: 24px;
		width: 24px
	}
}

@media(max-width: 480px) {

	.image-gallery-fullscreen-button,
	.image-gallery-play-button {
		padding: 10px
	}

	.image-gallery-fullscreen-button .image-gallery-svg,
	.image-gallery-play-button .image-gallery-svg {
		height: 16px;
		width: 16px
	}
}

.image-gallery-fullscreen-button {
	right: 0
}

.image-gallery-play-button {
	left: 0
}

.image-gallery-left-nav,
.image-gallery-right-nav {
	padding: 50px 10px;
	top: 50%;
	transform: translateY(-50%)
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
	height: 120px;
	width: 60px
}

@media(max-width: 768px) {

	.image-gallery-left-nav .image-gallery-svg,
	.image-gallery-right-nav .image-gallery-svg {
		height: 72px;
		width: 36px
	}
}

@media(max-width: 480px) {

	.image-gallery-left-nav .image-gallery-svg,
	.image-gallery-right-nav .image-gallery-svg {
		height: 48px;
		width: 24px
	}
}

.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
	cursor: disabled;
	opacity: .6;
	pointer-events: none
}

.image-gallery-left-nav {
	left: 0
}

.image-gallery-right-nav {
	right: 0
}

.image-gallery {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative
}

.image-gallery.fullscreen-modal {
	background: #000;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 5
}

.image-gallery.fullscreen-modal .image-gallery-content {
	top: 50%;
	transform: translateY(-50%)
}

.image-gallery-content {
	position: relative;
	line-height: 0;
	top: 0
}

.image-gallery-content.fullscreen {
	background: #000
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
	max-height: calc(100vh - 80px)
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
	max-height: 100vh
}

.image-gallery-slide-wrapper {
	position: relative
}

.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
	display: inline-block;
	width: calc(100% - 110px)
}

@media(max-width: 768px) {

	.image-gallery-slide-wrapper.left,
	.image-gallery-slide-wrapper.right {
		width: calc(100% - 87px)
	}
}

.image-gallery-slide-wrapper.image-gallery-rtl {
	direction: rtl
}

.image-gallery-slides {
	line-height: 0;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	text-align: center
}

.image-gallery-slide {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.image-gallery-slide.center {
	position: relative
}

.image-gallery-slide .image-gallery-image {
	width: 100%;
	object-fit: contain
}

.image-gallery-slide .image-gallery-description {
	background: rgba(0, 0, 0, .4);
	bottom: 70px;
	color: #fff;
	left: 0;
	line-height: 1;
	padding: 10px 20px;
	position: absolute;
	white-space: normal
}

@media(max-width: 768px) {
	.image-gallery-slide .image-gallery-description {
		bottom: 45px;
		font-size: .8em;
		padding: 8px 15px
	}
}

.image-gallery-bullets {
	bottom: 20px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 80%;
	z-index: 4
}

.image-gallery-bullets .image-gallery-bullets-container {
	margin: 0;
	padding: 0;
	text-align: center
}

.image-gallery-bullets .image-gallery-bullet {
	appearance: none;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 2px #1a1a1a;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	outline: none;
	padding: 5px;
	transition: all .2s ease-out
}

@media(max-width: 768px) {
	.image-gallery-bullets .image-gallery-bullet {
		margin: 0 3px;
		padding: 3px
	}
}

@media(max-width: 480px) {
	.image-gallery-bullets .image-gallery-bullet {
		padding: 2.7px
	}
}

.image-gallery-bullets .image-gallery-bullet:focus {
	transform: scale(1.2);
	background: #337ab7;
	border: 1px solid #337ab7
}

.image-gallery-bullets .image-gallery-bullet.active {
	transform: scale(1.2);
	border: 1px solid #fff;
	background: #fff
}

@media(hover: hover)and (pointer: fine) {
	.image-gallery-bullets .image-gallery-bullet:hover {
		background: #337ab7;
		border: 1px solid #337ab7
	}

	.image-gallery-bullets .image-gallery-bullet.active:hover {
		background: #337ab7
	}
}

.image-gallery-thumbnails-wrapper {
	position: relative
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
	touch-action: pan-y
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
	touch-action: pan-x
}

.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
	direction: rtl
}

.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
	display: inline-block;
	vertical-align: top;
	width: 100px
}

@media(max-width: 768px) {

	.image-gallery-thumbnails-wrapper.left,
	.image-gallery-thumbnails-wrapper.right {
		width: 81px
	}
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
	height: 100%;
	width: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
	display: block;
	margin-right: 0;
	padding: 0
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail {
	margin-left: 0;
	margin-top: 2px
}

.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
	margin: 0 5px
}

@media(max-width: 768px) {

	.image-gallery-thumbnails-wrapper.left,
	.image-gallery-thumbnails-wrapper.right {
		margin: 0 3px
	}
}

.image-gallery-thumbnails {
	overflow: hidden;
	padding: 5px 0
}

@media(max-width: 768px) {
	.image-gallery-thumbnails {
		padding: 3px 0
	}
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
	cursor: pointer;
	text-align: center;
	white-space: nowrap
}

.image-gallery-thumbnail {
	display: inline-block;
	border: 4px solid transparent;
	transition: border .3s ease-out;
	width: 100px;
	background: transparent;
	padding: 0
}

@media(max-width: 768px) {
	.image-gallery-thumbnail {
		border: 3px solid transparent;
		width: 81px
	}
}

.image-gallery-thumbnail+.image-gallery-thumbnail {
	margin-left: 2px
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
	display: block;
	position: relative
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
	vertical-align: middle;
	width: 100%;
	line-height: 0
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
	outline: none;
	border: 4px solid #337ab7
}

@media(max-width: 768px) {

	.image-gallery-thumbnail.active,
	.image-gallery-thumbnail:focus {
		border: 3px solid #337ab7
	}
}

@media(hover: hover)and (pointer: fine) {
	.image-gallery-thumbnail:hover {
		outline: none;
		border: 4px solid #337ab7
	}
}

@media(hover: hover)and (pointer: fine)and (max-width: 768px) {
	.image-gallery-thumbnail:hover {
		border: 3px solid #337ab7
	}
}

.image-gallery-thumbnail-label {
	box-sizing: border-box;
	color: #fff;
	font-size: 1em;
	left: 0;
	line-height: 1em;
	padding: 5%;
	position: absolute;
	top: 50%;
	text-shadow: 0 2px 2px #1a1a1a;
	transform: translateY(-50%);
	white-space: normal;
	width: 100%
}

@media(max-width: 768px) {
	.image-gallery-thumbnail-label {
		font-size: .8em;
		line-height: .8em
	}
}

.image-gallery-index {
	background: rgba(0, 0, 0, .4);
	color: #fff;
	line-height: 1;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4
}

@media(max-width: 768px) {
	.image-gallery-index {
		font-size: .8em;
		padding: 5px 10px
	}
}